<div class="sidebar-menu toggle-others fixed">
    <div class="sidebar-menu-inner">
        <header class="logo-env">
            <!-- logo -->
            <div class="logo">
                <a href="index.html" class="logo-expanded">
                    <img src="./assets/images/logo@2x.png" height="40" alt="" />
                </a>
                <a href="index.html" class="logo-collapsed">
                    <img src="./assets/images/logo-collapsed@2x.png" height="40" alt="">
                </a>
            </div>
            <div class="mobile-menu-toggle visible-xs">
                <a href="#" data-toggle="mobile-menu">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </header>
        <ul id="main-menu" class="main-menu">
            {{ range .Site.Data.webstack }} {{ if .list }}
            <li>
                <a>
                    <i class="fa {{ .icon }} fa-fw"></i>
                    <span class="title">{{ .taxonomy }}</span>
                </a>
                <ul>
                    {{ range .list }}
                    <li>

                        <a href="#{{ md5 .term }}" class="smooth"><i class="fa fa-tag fa-fw"></i>{{ .term }}</a>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li>
                <a href="#{{ md5 .taxonomy }}" class="smooth">
                    <i class="fa {{ .icon }} fa-fw"></i>
                    <span class="title">{{ .taxonomy }}</span>
                </a>
            </li>
            {{ end }} {{ end }}

            <li>
                <a href="/project">
                    <i class="fa fa-rocket fa-fw"></i>
                    <span class="tooltip-blue"> 我的项目 </span>
                </a>
            </li>

            <li>
                <a href="https://blog.bj-yan.top/about/">
                    <i class="fa fa-heart fa-fw"></i>
                    <span class="tooltip-blue"> About </span>
                </a>
            </li>
        </ul>
    </div>
</div>